<div class="headerAvatar">
    <img src={{item.avatarUrl}} alt="">
</div>
<div class="headerAuthor">
    <a href="">{{item.name}}</a>
</div>
<div class="headerLogOut">
    <i class="zmdi zmdi-menu zmdi-hc-1-5x" {{action 'showMenu'}}></i>
    <i class="zmdi zmdi-power zmdi-hc-1-5x" {{action 'LogOut'}}></i>
</div>