<ul class="listTodos">
    {{#each item as |todo|}}
        <li>
            <a href="" {{action 'selectItem' todo}}>
                <i class="zmdi zmdi-dot-circle-alt"></i>
                {{todo.title}} 
                {{#if todo.humanTimeEstimate}}
                    <i class="zmdi zmdi-timer"></i>{{todo.humanTimeEstimate}}
                {{/if}}
                <br>{{todo.projectName}}
            </a>                                  
        </li>
    {{/each}}
</ul>

{{yield}}