<div class="issue-title">{{nameOfIssue}}</div>


{{x-stopwatch isEnableResult=value isClockOnNull=true percentValue=percentValue trackingIsOn=(action 'trackingIsOn')}}

{{#if isEnabledMessage}}
    <div class="form-group animated bounce">
        <label>Your message:</label>
        {{textarea class="form-control" placeholder="Your message." rows="5" value=message}}   
    </div>
    <div class="form-buttons">
        <button class="btn btn-success" {{action 'saveMessage'}}>Save</button>
        <button class="btn btn-danger" {{action 'cancelTracking'}}>Cancel</button>
    </div>
    
{{/if}}
                