<div class="card animated">Time spent: {{convert-time-in-string collectionTime}}</div>

{{#each modelTime as |card|}}
    <div class="card animated slideInRight">
        <div class="card-header">
            <h2 class="card-title">{{moment-format card.date 'Do MMM YYYY, HH:mm:ss' 'X'}}</h2>
            <small class="card-subtitle">
                {{#if card.isEditing}}
                    {{input id="hours" class="" type="number" min="0" value=(convert-seconds card.timerInSeconds 'h')}}h
                    {{input id="minutes" class="" type="number" min="0" max="59" value=(convert-seconds card.timerInSeconds 'm')}}m
                    {{input id="seconds" class="" type="number" min="0" max="59" value=(convert-seconds card.timerInSeconds 's')}}s
                {{else}}
                    {{convert-time-in-string card.timerInSeconds}}
                {{/if}}
            </small>
            
            <div class="actions">
                {{#if card.isEditing}}
                    <i class="zmdi zmdi-block" {{action 'cancelCardEditing' card}}></i>
                    <i class="zmdi zmdi-check-all" {{action 'saveCard' card}}></i>
                {{else}}
                    <i class="zmdi zmdi-edit" {{action 'editCard' card}}></i>    
                    <i class="zmdi zmdi-delete" {{action 'deleteCard' card}}></i>
                {{/if}}
            </div>
        </div>
        <div class="card-block">
            {{#if card.isEditing}}
                <p>{{textarea class="form-control" value=card.message rows="5"}}</p>
            {{else}}
                <p>{{card.message}}</p>
            {{/if}}
            
        </div>
        
    </div>
    
{{/each}}
{{yield}}