{{x-easy-pie-chart dataPercent=percentValue barColor="#f5c942" trackColor="#fff" size=110}}

<div class="stopwatch-result">
    {{#if isEnableResult}}
        {{result}}
    {{/if}}
</div>

<div class="stopwatch-buttons">
    {{#if startTimer.isIdle}}
        {{#if isClockOnNull}}
            <i class="zmdi zmdi-play zmdi-hc-3x" {{action 'start'}}></i>    
        {{else}}
            <i class="zmdi zmdi-play zmdi-hc-3x" {{action 'resume'}}></i> 
        {{/if}}
    {{else}}
        <i class="zmdi zmdi-pause zmdi-hc-3x" {{action 'pause'}}></i>
    {{/if}}

    <i class="zmdi zmdi-stop zmdi-hc-3x" style="{{disableStopButton}}" {{action 'stop'}}></i>
</div>
