@import "ember-bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
@import url('https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css');

// <<<<<----- GENERAL ----->>>>>
body {
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  border-style: none;
  vertical-align: middle;
}

a:hover,
a {
  text-decoration: none;
  color: black;
}

.row {
  height: 100vh;
}

.login-background {
  background-image: url(/gitlab-cover.png);
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background-position: center center;
}

// <<<<<----- HEADER ----->>>>>
.header {
  position: sticky;
  z-index: 10;
  width: 100%;
  height: 72px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #f5c942;
}

.headerAuthor>a,
.logIn-text {
  color: #FFFFFF;
  line-height: 100%;
  font-size: 33px;
  font-weight: normal;
  margin: 0;
}

.headerAvatar>img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.headerLogOut {
  right: 0;
  position: absolute;
  padding-right: inherit;
}

.headerLogOut .zmdi-power:hover {
  cursor: pointer;
}

.logIn-text {
  font-size: 1.8rem;
  margin: 0 auto;
}

.icon-sign-in {
  background-image: url(/sign-in-icon.svg);
  height: 50px;
}

.icon-sign-in-1 {
  background-image: url(/sign-in-icon-1.svg);
  height: 50px;
}

.zmdi-hc-1-5x {
  font-size: 1.5em !important;
}

.zmdi-cloud-upload,
.zmdi-menu {
  margin-right: 0.3rem;
}

// <<<<<----- MENU ----->>>>>
.sidebar {
  // position: fixed;
  z-index: 9; // padding: 72px 0 0 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, .03);
}

.listTodos {
  background-color: rgba(0, 0, 0, .03);
  width: 100%;
  list-style: none;
  padding: 0;
  float: left;
}

.listTodos>li>a {
  //margin-right: .6em;
  padding: .85rem .5rem;
  display: block;
}

.listTodos>li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.zmdi-dot-circle-alt,
.stopwatch-buttons>.zmdi {
  color: #f5c942;
}

// <<<<<----- CONTENT ----->>>>>
.issue-title {
  text-align: center;
  font-size: 25px;
}

.content-tracking {
  // position: fixed;
  // padding-top: 72px;
}

.stopwatch-result {
  position: fixed;
  padding-top: 41px;
  padding-left: 28px;
}

.stopwatch-buttons {
  padding-top: 21px;
  padding-left: 50%;
}

.btn-outline-warning {
  color: #f5c942;
  border-color: #f5c942;
}

.btn-warning {
  background-color: #f5c942;
  border-color: #f5c942;
  color: #fff;
}

.btn-outline-warning:hover {
  color: #fff;
}

.form-buttons {
  text-align: right;
}

.percentage {
  float: left;
}

.zmdi-pause {
  margin-right: 10px;
}

// <<<<<----- CARDS ----->>>>>
.sidebar-cards {
  padding-left: 15px;
}

.card:first-of-type {
  margin-top: 10px;
}

.card {
  // margin-right: 10px;
  margin-bottom: 10px;
  border: 0;
}

.card-header {
  background-color: #fff;
  padding: 10px 5px;
  border: 0;
}

.card-title {
  margin-bottom: 0px;
  font-size: 1.25rem;
  font-weight: 400;
}

.card-block {
  padding: 10px;
}

.card-block p {
  margin-bottom: 0;
  font-size: 13px;
  color: #707070;
}

.card-header .actions {
  position: absolute;
  right: 15px;
  z-index: 2;
  top: 11px;
}

.actions i.zmdi {
  font-size: 19px;
  color: #707070;
}

.actions i.zmdi:hover,
.header i.zmdi:hover,
.stopwatch-buttons>.zmdi:hover {
  cursor: pointer;
}
