<header class="header">
    <img src="/gitlab-logo.svg" alt="" height="32px">
    <div class="logIn-text">
        Please log in via GitLab
    </div>
    <i class="zmdi zmdi-sign-in zmdi-hc-2x" {{action 'authenticate'}}></i>
</header>
<div class="login-background"></div>
