{{header-bar item=model.user.content.firstObject._data showMenu=(action 'showMenu')}}

<div class="sidebar {{classNameMenu}}">
    {{left-sidebar item=model.todo selectItem=(action 'selectTodoIssue') trackingIn=trackingIsOn}}
</div>
{{#if isEnable}}
    {{time-content nameOfIssue=todo.data.title value=resetValue isEnabledMessage=false trackingIsOn=(action 'trackingIsOn') saveTracking=(action 'saveTracking')}}
    {{x-card userId=model.user.content.firstObject.id todo=todo}}
{{/if}}


{{outlet}}